{
	"overrides": [
		{
			"files": ".ts",
			"options": {
				"parser": "typescript"
			}
		}
	],
	"singleQuote": true,
	"trailingComma": "none",
	"bracketSpacing": true,
	"printWidth": 130,
	"tabWidth": 2,
	"useTabs": true,
	"semi": true,
	"quoteProps": "as-needed",
	"endOfLine": "auto",
	"arrowParens": "always",
	"importOrderSeparation": true
}
